@tailwind utilities;
@import "hljs.scss";
@import "./iconfont/iconfont.css";
@import "./chat-mode.scss";
@import "v-dialog";
@import "@picocss/pico/css/pico.min.css";
@import "pico.custom.css";

$font-sans: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: auto;
}

footer{
  @apply pt-12 text-xs leading-loose text-center;
}

#app {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-size: 16px;
  padding: 1px 10px 80px;
}

code {
  border-radius: .25rem;
  background: rgba(0, 0, 0, .08);
  color: #333;
}

button {
  i {
    position: relative;
  }
}

a {
  @apply text-blue-500 dark:text-blue-400;
  &[target=_blank] {
    &:after {
      content: "↗";
    }
  }
}

.page-options-box {
  position: absolute;
  bottom: 30px;
  width: 200px;
  left: -43px;
  pointer-events: none;
  opacity: 0;

  &.in {
    pointer-events: auto;
    z-index: 200;
    bottom: 50px;
    opacity: 1;
  }

  .page-options {
    padding: 8px;
    border-radius: 12px;
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    &.in {
      right: 10px;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    hr {
      border: none;
      height: 1px;
      background: #ddd;
    }

    .item {
      button {
        background: transparent;
        color: #333;
        width: 100%;
        border-radius: 6px;
        border: none;
        margin: 0;

        span {
          width: 110px;
          display: inline-block;
          font-size: 14px;
        }

        &:hover {
          background: rgba(#000, 0.05);
        }

        &:focus {
          background: rgba(#000, 0.05);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

.slide-up-enter-active {
  animation: slideUp_3 0.15s;
}

.slide-up-leave-active {
  animation: slideDown_3 0.15s;
}

@keyframes slideUp_3 {
  0% {
    opacity: 0;
    bottom: 30px
  }
  100% {
    opacity: 1;
    bottom: 50px
  }
}

@keyframes slideDown_3 {
  0% {
    opacity: 1;
    bottom: 50px
  }
  100% {
    opacity: 0;
    bottom: 30px
  }
}

select {
  @apply bg-white dark:bg-[#2c2c2c];
}

.page-input {
  position: fixed;
  background: linear-gradient(to bottom, transparent, #fff 70%);
  bottom: 0;
  height: 80px;
  width: 100%;
  left: 0;
  z-index: 3000;

  .wrap {
    display: flex;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px 10px 10px;
    position: relative;
  }

  .input {
    width: 100%;
    height: 60px;
    border: 2px solid transparent;
    background: #eee;
    border-radius: 8px;
    padding: 7px 10px 10px 10px;
    font-size: 13px;
    font-family: $font-sans;
    outline-offset: 2px;
    overflow: auto;
    line-height: 1.5;
    resize: none;
    margin-right: 46px;
  }

  .placeholder {
    line-height: 1.5;
    width: calc(100% - 82px);
    color: #999;
    pointer-events: none;
    position: absolute;
    left: 22px;
    top: 22px;
    font-size: 12px;
  }

  button {
    position: absolute;
    right: 12px;
    top: 10px;
    font-family: $font-sans;
    width: auto;
    height: 60px;
    padding: 0 10px;
    background: transparent;
    color: #333;
    border: none;
    border-radius: 8px;
    flex-shrink: 0;
    margin: 0;

    i.iconfont {
      margin: 0;
    }
  }
}

select {
  margin-bottom: 0;
  font-size: .9rem;
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
  min-height: calc(100vh - 282px);

  .item {
    width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: 6px 8px;
    border: 1px solid #eee;
    background: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.85;
    position: relative;

    ul, ol {
      display: block;
      list-style: disc outside none;
      margin: 1em 0;
      padding: 0 0 0 40px;
      font-size: 14px;
    }

    ol {
      list-style-type: decimal;
    }

    .tools {
      position: absolute;
      right: 5px;
      top: 4px;

      button {
        padding: 0 .25rem;
        background: transparent;
        height: auto;
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        border: none;
        font-size: 1.1rem;

        &:focus {
          --box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(255, 255, 255, .5) 0 0 0 3px;
        }
      }
    }

    .edit-tools {
      margin-top: -30px;

      textarea {
        width: 100%;
        min-height: 60px;
        border: 2px solid transparent;
        background: #666;
        border-radius: 8px;
        padding: 10px;
        font-size: 14px;
        font-family: $font-sans;
        resize: none;
        color: #fff;
        margin-bottom: 0;
      }

      input {
        padding: 0 15px 0;
      }
    }

    .human {
      position: relative;
      display: inline-block;
      background: #2c2c2c;
      border-radius: 8px;
      padding: 10px;
      padding-right: 60px;
      border: 1px solid #eee;

      pre {
        font-family: $font-sans;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow-x: hidden;
        background: transparent;
        color: #fff;
      }
    }

    code {
      border-radius: 4px;
      padding: 2px;
      font-size: 12px;
      border: none;
      background: rgba(#000, .1);
    }

    .code-wrapper {
      border: 1px solid #eee;
      border-radius: 6px;
      background-color: transparent;
      margin-top: 2px;
      margin-bottom: 12px;

      .language-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-right: .5rem;
      }

      .language-name {
        padding: 4px 10px;
        display: block;
        content: attr(data-lang);
        opacity: .8;
        font-size: 12px;
      }

      .copy-code {
        button {
          padding: 0 6px;
          height: 28px;
          margin: 5px 0;
          margin-right: 5px;
          border-radius: 6px;
          font-size: 12px;
        }
      }
    }

    pre {
      overflow-x: auto;
      position: relative;
      font-family: 'JetBrains Mono', monospace;
      margin: 0;
      padding: 5px;
      font-size: 13px;
      border-radius: 0 0 6px 6px;
      background-color: rgba($color: #000000, $alpha: 0.06);

      code {
        font-family: 'JetBrains Mono', monospace;
        padding: 0;
        border: none;
        font-size: inherit;
        background: transparent;
      }
    }

    .ai-cost {
      text-align: center;
      padding: 5px;
      font-size: 10px;
      color: #9ca3af;
    }

    p {
      margin: 8px 0 16px;
      font-size: 14px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &.dark {
      background: transparent;
      box-shadow: none;
      color: #fff;
      align-self: flex-end;
      flex: 0 0 auto;
      display: flex;
      padding: 0;
      border: none;
      justify-content: flex-end;
    }

    &.sys {
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      font-size: 12px;
      text-align: center;
      padding: 0;
    }
  }
}

.in-page-token-count {
  font-size: 10px;
  text-align: center;
  margin: 0.5rem 0 1rem;
}

@media (prefers-color-scheme: dark) {
  code {
    background: rgba(255, 255, 255, .08);
    color: #eee;
  }
  .message-list {
    .item {
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      background: #404040;
      color: #fff;
      border-color: transparent;

      .edit-tools {
        textarea {
          background: #ccc;
          color: #444;

          &:focus {
            --box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, .2) 0 0 0 3px;
          }
        }
      }

      .code-wrapper {
        border: 1px solid #8a8a8a;
        border-radius: 6px;
        background-color: #626262;

        .copy-code-btn {
          color: #333;
        }
      }

      button {
        color: #fff;
      }

      .ai-cost {
        color: #d1d5db;
      }

      code {
        background: rgba(#000, .4);
      }

      .human {
        pre {
          background-color: transparent;
          color: #2c2c2c;
        }
      }

      pre {
        background-color: rgba(#000, 0.5);
        color: #2c2c2c;

        code {
          background: transparent;
        }
      }

      &.dark {
        color: #444;
        border: none;

        .human {
          background: #eee;
          border: none;
        }

        button {
          color: #444;

          &:focus {
            --box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, .2) 0 0 0 3px;
          }
        }
      }

      &.sys {
        color: #fff;
      }
    }
  }

  .page-input {
    background: linear-gradient(to bottom, transparent, #121212 70%);

    .input {
      border: 2px solid #404040;
      background: #404040;
      color: #fff;
    }

    button {
      background: transparent;
      color: #fff;
    }
  }
  .page-options-box {
    .page-options {
      background: #2c2c2c;
      border: 1px solid #2c2c2c;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

      hr {
        background: #666;
      }

      .item {
        button {
          background: transparent;
          color: #fff;

          &:hover {
            background: rgba(#fff, 0.1);
          }

          &:focus {
            background: rgba(#fff, 0.1);
          }
        }
      }
    }
  }
}